version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: car-db-container
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: zach
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: car_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: car-db-ui
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data: